body{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

table{
    border-collapse: collapse;
}

td{
    padding: 10px;
    border: 2px dashed gray;
}

div{
    background-color: bisque;
    border-radius: 20px;
    padding: 20px;
}

#button{
    float: right;
    padding: 10px;
    background-color: greenyellow;
    color: blueviolet;
    border-radius: 15px;
    font-weight: 700;
    cursor:pointer;
}